<!DOCTYPE html>
<html>
	<head>
		<title>Stock Management</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/app.css">
		<link rel="stylesheet" href="/stylesheets/dash.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	</head>
	<body>

		<div  class="container-fluid">
			<div class="page_nav" style="background-color: #242e42;">
				<div class="admin-profile">
					<div class="plus-sign"> 
						<a href="/stocks/newcategory" data-toggle="popover" data-trigger="hover" data-content="Add New Category" data-placement="bottom" 
						><span class="fa fa-plus"></span></a>
				</div>
				<div class="plus-sign"> 
					<a href="/stocks/newrecords" data-toggle="popover" data-trigger="hover" data-content="Add New Record" data-placement="bottom" 
					><span class="fa fa-plus"></span></a>
				</div>
					<section style="float: right;">
					<span>ABOUT</span>
					<span>CONTACT</span></section>
				</div>
			</div> 