body {
    font-family: "Roboto";
}
#dealers{
  height: auto;
  min-height: 60vh;
}
.deleteicon {
  display: inline-block;
	transition : 0.2s linear;
  opacity: 0.0;
  float: right;
}
#eg {
  background-color: white;
}
tr:hover td span {
	width: 40px;
	opacity: 1.0;
}
#homeid {
    margin-top: 4rem;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #212529; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e0e0e0;
    display: block;
    transition: 0.3s;
  }
  .head {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    padding-left: 64px;
    padding-right: 64px;
    background-color: lightblue;
  }
  .list-bar {
    background-color: lightblue;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Style for Dealer Page */
  #dealers{
    height: auto;
    min-height: 60vh;
  }
  .dealer_table{
    width: 100%;
  }
  
  .dealer_table th{
    padding: 0.5rem;
    text-align: center;
  }
  .dealer_table td{
    padding: 0.5rem;
    text-align: center;
  }
  .pop:hover{
    cursor: pointer;
  }
  .pop:focus{
    background-color: sandybrown;
  }
  .popover{
    max-height: 300px;
    max-width: 70%;
  }

/* Styles for stocks page.... */

  #stock_info{
    margin-top: 2rem;
    background-color: lightblue;
    width: 100%;
    height: auto;
    min-height: 300px;
  }
  .stock_productions{
    text-align: center;
    border-left: black 1px solid;
    display: table-cell;
    vertical-align: middle;
  }

  #stocks_table{
    width: 80%;
    margin: 1rem auto;
    border-spacing: 0 20px;
    border-collapse: separate;
  }
  #stocks_table th{
    background-color: mediumseagreen;
    border-radius: 10px 0 0 10px;
    padding: 0.5rem;
    text-align: center;
  }
  #stocks_table td{
    background-color: mediumseagreen;
    border-radius: 0 10px 10px 0;
    padding: 0.5rem;
    text-align: center;
  }
  .category_heading{
    text-align: center;
    font-size: 2rem;
  }
  .container {
    margin-top: 3rem;
  }
  .stock_dealers{
    text-align: center;
  }
  .dealers{
    background-color: darkkhaki;
    width: 50%;
    border-radius: 10px;
    padding: 0.3rem;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
  }
  .payment_status{
    text-align: center;
    font-size: 1.5rem;
  }
  .amount{
    background-color: rgba(247, 243, 243, 0.966);
    width: 70%;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 10px;
    border-left: 30px solid;
  }

  @media screen and (max-width: 960px) {
    .stock_productions{
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: none;
    }
  }
